.card {
  background: #ffffff;
  width: 30rem;
  cursor: pointer;

  border-radius: 1.3rem;
  box-shadow: 20px 10px 30px #bebebe7d, -10px -10px 30px #e9e8e85c;

  display: flex;
  flex-direction: column;
}

/* .card:hover {
  transform: scale(1.05);
  transition: all 500ms;
} */

.product-info {
  padding: 0 2rem 2rem;
  margin-top: 0.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 100%;
  padding: 2rem;
}

.product-name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.03rem;
}

.product-price {
  margin-top: 1rem;
}

.product-button {
  margin-top: 1rem;
  padding: 1rem;
  background: #3b7cdd;
  border-radius: 1.3rem;

  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}
